<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dorahacks" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".Helper.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />

        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://457197387596169:7gGfhTwHqIob3E1FKxyTZDIZePA@dressup"/>


        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".Activity.Login"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" >

        </activity>
        <activity
            android:name=".Activity.Navigation"
            android:label="@string/title_activity_navigation"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" >
        </activity>
        <activity android:name=".Activity.Splash"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
